@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
#navbar {
    background-color:rgb(28, 24, 24);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 15px;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

.container {
    margin: auto;
    width: 60%;
    overflow: hidden;
}

table {
    /* margin: 25px 0; */
    
    /* min-width: 400px; */
    padding: 30px;
    width: 100%;
    /* margin: auto; */
}

tr {
    /* background-color: red; */
}

th, td {
    padding: 12px 50px;
    text-align: left;
}

.week {
    padding: 0;
}

.active {
    color: blue;
}

.memo {
    width: 100%;
    /* height: 70px; */
    background-color: #fff4e2;
    border-radius: 5px;
    box-sizing: border-box;
    border: thin solid #ffeccc;
    padding: 10px;
}

.memo p  {
    padding: 0px;
    margin: 5px;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
    }

    /* nav bar */
    #navbar {
        text-align: center;
    }
    #navbar a {
        width: 100%;
        line-height: 300%;
    }
}

